## Visual Studio & .NET build artifacts
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
dist/
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates
*.suo

## Test results
TestResults/
[Tt]est[Rr]esult*/
*.trx

## Dotnet & C# crash dumps and temp files
*.tmp
*.log
*.cache
*.opendb
*.dbmdl

## Python scripts & cache
__pycache__/
*.pyc
*.pyo

## Windows & OS artifacts
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

## Package caches
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
project.lock.json
project.assets.json
Screenshot*.png
Screenshot (*).png
*.png
